@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(99deg, #F4A261, #E9C46A );

}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(148, 99, 59, 0.836);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #E76F51;
    text-align: center;
    text-shadow: 1px 2px 2px rgba(150, 72, 53, 0.76);

}

h2 {
    color: #2A9D8F;


}

p {
    text-align: justify;

}
